# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
server/node_modules
server/taskflow.db
npm-debug.log
yarn-error.log

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/extensions.json

# Misc
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.DS_Store
Thumbs.db
